In [8]:
import pandas as pd

# Load the CSV file into a pandas DataFrame
file_path = 'data_link_berita_with_content_cleaned_manual.csv'
try:
    df_filtered = pd.read_csv(file_path)
    print(f"Successfully loaded '{file_path}'")
except FileNotFoundError:
    print(f"Error: The file '{file_path}' was not found.")
    print("Please make sure the file is uploaded to your Colab environment or provide the correct path.")

Successfully loaded 'data_link_berita_with_content_cleaned_manual.csv'

In [9]:
# Perform descriptive statistical analysis
print("Descriptive Statistics:")
display(df_filtered.describe(include='all'))

# Display information about the DataFrame
print("\nDataFrame Info:")
display(df_filtered.info())

# Display the number of unique values in each categorical column
print("\nUnique values in categorical columns:")
for col in df_filtered.select_dtypes(include='object').columns:
    print(f"- {col}: {df_filtered[col].nunique()} unique values")

# Additional descriptive analysis based on data patterns

# Convert 'tanggal' column to datetime objects for easier analysis
df_filtered['tanggal'] = pd.to_datetime(df_filtered['tanggal'])

print("\nDistribution of 'portal':")
display(df_filtered['portal'].value_counts().head(10)) # Display top 10 portals

print("\nDistribution of 'tag':")
display(df_filtered['tag'].value_counts())

print("\nDate Range of Articles:")
print(f"Earliest Date: {df_filtered['tanggal'].min()}")
print(f"Latest Date: {df_filtered['tanggal'].max()}")

Descriptive Statistics:

,link,judul,konten,tanggal,portal,tag
count,469,469,469,469,469,469
unique,469,469,469,176,90,5
top,https://www.tempo.co/ekonomi/tahun-depan-garud...,Tahun Depan Garuda Datangkan 24 Pesawat Baru,"TEMPO.CO, Jakarta - Maskapai penerbangan pelat...",10/6/2025,Kompas.com,Lainnya
freq,1,1,1,19,66,322

DataFrame Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 469 entries, 0 to 468
Data columns (total 6 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   link     469 non-null    object
 1   judul    469 non-null    object
 2   konten   469 non-null    object
 3   tanggal  469 non-null    object
 4   portal   469 non-null    object
 5   tag      469 non-null    object
dtypes: object(6)
memory usage: 22.1+ KB

None

Unique values in categorical columns:
- link: 469 unique values
- judul: 469 unique values
- konten: 469 unique values
- tanggal: 176 unique values
- portal: 90 unique values
- tag: 5 unique values

Distribution of 'portal':

/tmp/ipython-input-1241245295.py:17: UserWarning: Parsing dates in %d/%m/%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  df_filtered['tanggal'] = pd.to_datetime(df_filtered['tanggal'])

portal
Kompas.com         66
Bisnis.com         30
Tempo.co           30
CNBC Indonesia     26
Liputan6.com       26
detikFinance       25
CNN Indonesia      25
ANTARA News        21
detikTravel        13
MetroTVNews.com    12
Name: count, dtype: int64

Distribution of 'tag':

tag
Lainnya             322
Rute/Operasional     97
Keuangan             22
Hukum/Regulasi       19
Manajemen             9
Name: count, dtype: int64

Date Range of Articles:
Earliest Date: 2012-12-07 00:00:00
Latest Date: 2025-09-30 00:00:00